.card-container-2 {
display: inline-block;
margin-left: 10px;
margin-top: 44px;
}
.container-2 {
background-color: #FFFFF3;
/* display: inline-block; */
flex-direction: column;
width: 170px;
height: 316px;
flex-shrink: 0;
border-radius: 10px 10px 10px 10px;
}

.dark .container-2 {
    background-color: #2F414D;
    }

.title-2 {
margin-top: 13px;
margin-left: 6px;
width: 120px;
color: #754343;
font-family: SF Pro Display;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.165px;
}

.dark .title-2 {
color: #FFFFFF;
}

.sub-title-2 {
width: 157px;
color: #754343;
margin-left: 6px;
font-family: SF Pro Display;
font-size: 14px;
font-style: normal;
font-weight: 200;
line-height: normal;
letter-spacing: -0.165px;
}

.dark .sub-title-2 {
color: #FFFFFF;
}

.picture-2 {
width: 170px;
height: 158px;
flex-shrink: 0;
border-radius: 10px 10px 0px 0px;
/* background: url(/public/images/x-15802.png), lightgray 50% / cover no-repeat; */
}

.btn-2 {
border: 0;
border-radius: 24px;
padding: 6px 24px;
background-color: #8CCCF5;
margin-left: 9px;
margin-top: 18px;
}