*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}

.swiper-pagination-bullet-active {
  background: white;
}


.mySwiper{
  height: 250px;
  width: 100%;
}

.mySwiper .slide {
  height: 250px;
  margin-right: 0 !important;    /* high priority */
  width: 100% !important;

}




.mySwiper .slide img {
object-fit: contain;
height: 100%;
}