.horizontal-scroll {
    display: flex;
    width: 100%; 
    max-width: 393px; 
    height: 120px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 23px;
    flex-shrink: 0;
    background: #FFFFF3;
    overflow-x: auto;
    margin: 0 auto;
    margin-top: 41px;
  }
  
  .horizontal-scroll img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  
  
  @media screen and (min-width: 393px) {
    .horizontal-scroll {
      width: 393px;
    }
  }
  