.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

.dark .Nav {
    background-color: #2F414D;
    transition: 0.4s;
}

.logo {
    display: flex;
    width: 137px;
    height: 57px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    margin:14px;

    background: url('../../public/images/tlc.png') no-repeat;

}